<script src="/js/main.js"></script>
<link rel="stylesheet" href="/css/main.css">

    <style>
    .main {
      padding: 1rem;
      margin: auto;
      text-align: center;
    }</style>
</body>
<hr >
<h5 class="main"> האתר ניסיוני ויש עוד דברים רבים לשפר: אשמח לשמוע הכללללל</h5>
</html>