<%- include('./head.ejs') %>
  <%- include('./navigation.ejs') %>
  <style>h1 {
      text-align: center;
      color-adjust: #690505;
  }</style>
  
  <body>
        <h1>404 Error, The Page isn't found</h1>
  </body>

  <%- include('./end.ejs') %>