<style>

</style>
<link rel="stylesheet" href="/css/main.css">
<div class="backdrop"></div>
<header class="main-header">
<nav class="main-header__nav">
 
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="main-header__item-list">
        <li class="main-header__item">
          <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
        </li>
        <li class="main-header__item">
          <a class="nav-link" href="/all-places">places</a>
        </li>
        <li class="main-header__item">
            <a class="nav-link" href="/add-place">add a place</a>
          </li>
          <li class="main-header__item">
            <a class="nav-link" href="/login">Login</a>
          </li>
      </ul>
 
    </header>
<nav class="mobile-nav">
  <ul class="mobile-nav__item-list">
          <li class="mobile-nav__item">
            <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
          </li>
          <li class="mobile-nav__item">
            <a class="nav-link" href="/all-places">places</a>
                    </li>
          
          <li class="mobile-nav__item">
            <a class="nav-link" href="/add-place">add a place</a>
              </a>
          </li>
        
      </ul>
</nav>
   
   
  </nav>


