<style>
.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
</style>
<link rel="stylesheet" href="/css/main.css">
<button id="side-menu-toggle">Menu</button>
<div class="backdrop"></div>
<header class="main-header">
<nav class="main-header__nav">
 
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="main-header__item-list">
        <li class="main-header__item">
          <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
        </li>
        <!-- <li class="main-header__item">
          <a class="nav-link" href="/all-places">places</a>
        </li> -->
        <li class="main-header__item">
          <a class="nav-link" href="/jerusalem">Jerusalem</a>
        </li>
        <li class="main-header__item">
          <a class="nav-link" href="/center">Center</a>
        </li>
        <li class="main-header__item">
            <a class="nav-link" href="/add-place">add a place</a>
          </li>

          <% if (!isAuth) { %>        
            <li class="main-header__item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="main-header__item">
            <a class="nav-link" href="/signup">Signup</a>
          </li>
          
          <% } else { %>
          <li class="main-header__item">
            <form action="/logout" method="post">
                <button type="submit">Logout</button>
            </form>
        </li>
        <% } %>


      </ul>
 
    </header>
<nav class="mobile-nav">
  <ul class="mobile-nav__item-list">
          <li class="mobile-nav__item">
            <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
          </li>
          <!-- <li class="mobile-nav__item">
            <a class="nav-link" href="/all-places">places</a>
                    </li> -->
          
        <li class="mobile-nav__item">
          <a class="nav-link" href="/jerusalem">Jerusalem </a>
        </li>
        <li class="mobile-nav__item">
          <a class="nav-link" href="/center">Center</a>
        </li>
          <li class="mobile-nav__item">
            <a class="nav-link" href="/add-place">add a place</a>
              </a>
          </li>
          <% if(!isAuth){ %>            
            <li class="mobile-nav__item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="mobile-nav__item">
            <a class="nav-link" href="/signup">Signup</a>
          </li>
          
          <% } else { %>
            <li class="mobile-nav__item">
            <form action="/logout" method="post">
                <button type="submit">Logout</button>
            </form>
        </li>
              <form action="/logout" method="post">
                
                  <button type="submit">Logout</button>
              </form>
          </li>
           
         
        <% } %>
      </ul>
</nav>
   
   
  </nav>


