.login-form {
      width: 20rem;
      max-width: 90%;
      margin: auto;
      display: block;
    }


.user-message {
  margin: auto;
  width: 90%;
  border: 1px solid #4771fa;
  padding: 0.5rem;
  border-radius: 3px;
  background: #b9c9ff;
  text-align: center;
}

.user-message--error {
  border-color: rgb(85, 230, 140);
  background: rgb(99, 185, 104);
  color: rgb(0, 2, 95);
}

@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }

  .user-message {
    width: 30rem;
  }
}