.place__description {
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      color: #e66262;
      border-style: dotted;      
      margin: 25px 50px;
      
    }
    .place__area{
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      color: #683535;   
      margin: 25px 50px;
    }

    .place__title {
      font-size: 1.7rem;
      text-align: center;
      color: #040c55;
  }
  .product-item {
      width: 80rem;
      max-width: 95%;
      margin: 1rem;
  }

  .card__header details,
.card__content {
  padding: 4rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}